/* css styles */

/* Color variables */
:root {
  --color-bg-dark: #333333;
  --color-text-light: #fafafa;
  --color-text-dark: #979797;
}

/* Body font + background */
body {
  background-color: var(--color-bg-dark);  /* Dark background */
  color: var(--color-text-light); /* Light text */
}

/* Navigation bar font + background */
.navbar {
  background-color: var(--color-bg-dark);  /* Dark background */
  border-bottom: 1px solid var(--color-text-dark); /* Light border */
}

.navbar-brand {
  color: var(--color-text-light);
}

.navbar-brand:hover {
  color: var(--color-text-light);
}

.navbar-nav .nav-link {
  color: var(--color-text-dark);
}

.navbar-nav .nav-link:hover {
  color: var(--color-text-light);
}

.navbar-nav .nav-link.active {
    color: var(--color-text-light);
}

/* Blog posts listing styles */
div.quarto-post a {
    color: var(--color-text-light);
    text-decoration: none;
}

/* Normal link */
a {
  color: var(--color-text-light);
  text-decoration: none;
  font-weight: bolder;
}

/* Hover link */
a:hover {
  color: var(--color-text-dark);
}

/* Side table of contents */
.sidebar nav[role="doc-toc"] li a.nav-link {
  color: var(--color-text-dark) !important;
  border-left: 1px solid var(--color-text-dark);
}

.sidebar nav[role="doc-toc"] li a.nav-link.active {
  color: var(--color-text-light)!important;
  border-left: 1px solid var(--color-text-light);
}

.sidebar nav[role="doc-toc"] li a.nav-link:hover {
  color: var(--color-text-light)!important;
  border-left: 1px solid var(--color-text-light);
}

/* Blog posts listing styles */
div.quarto-post:hover a,
div.quarto-post:hover .body {
  color: var(--color-text-dark);
}

/* Table styles */
table, th, td {
  border: 2px solid var(--color-text-dark);
  border-collapse: collapse;
}
